<div class="container">
  <div class="card text-center mt-5">
    <div class="card-header mt-3">
      <h3>Recuperar contraseña</h3>
      <p class="text-center mt-5">Ingrese su nueva contraseña.</p>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btn-primary mt-5" value="Recuperar" >
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Regresar al </span> <a class="redirect" routerLink="/login"> LogIn</a>
    </div>
  </div>
</div>
